.navbar {
  width: 800px; /* Set the width to match the email container */
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid;
  padding: 10px;
  font-family: 'Arial', sans-serif;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* Ensure icons and buttons are at opposite ends */
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon {
  margin-right: 13px;
  cursor: pointer;
  position: relative;
}

.icon:hover::after {
  content: attr(data-tooltip); /* Show the tooltip text */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0.9;
  visibility: visible;
  z-index: 1;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-button {
  margin-left: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Add styles for the front and back buttons */
.front-button,
.back-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.front-button:hover::after,
.back-button:hover::after {
  content: attr(data-tooltip); /* Show the tooltip text */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0.9;
  visibility: visible;
  z-index: 1;
}